.background, .detailsbg {
    background: url('https://cutewallpaper.org/21/star-wars-starfield-background/Star-Wars-Backgrounds-Wallpaper-Cave.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-dark {
    background-color: black !important;
}

.card-img-top {
    width: 100%;
    height:auto;
    object-fit: cover;
}

.row.cardrow {    
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;    
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.row.cardrow .col {       
    float: none;
    margin: 0 0.25%;
    padding-bottom: 10px;
    display: inline-block;
}

.favoritebtn {
    content: \2665;
}

.dropdown-menu {
    width: 200px !important;
}

h2.header {
    color:white;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-size: 20px;
    border-top: 2px solid rgba(170,170,170,0.25);
    border-bottom: 2px solid rgba(170,170,170,0.25);
    margin: 3.04em 0 1.52em;
    padding: 0.65rem 12px 0.6rem 0.4rem;
    box-sizing: border-box;
}

.detailsimage {
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
}

h3.detailsname{
    font-family: DIN, Helvetica, Arial, sans-serif;    
    color: white;
    font-size: 1.4em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

// .details-wrapper{
//     position: absolute;
//     top: 0;    
//     right: 0;
//     left: auto;
//     padding: 1.648em 1.648em;
//     border-width: 0 0 0 2px;
//     float: right;
// }

.detailsdescription {
    background-color: rgb(75, 75, 75);
    font-size: 15px;
    color: white;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
    background-size: 7px;
    background-repeat: repeat-x;
    background-position: top left;    
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 100% 0, 100% 18%, 97% 23%, 97% 63%, 100% 68%, 100% 100%, 15% 100%, 0 100%, 0% 85%);
}

.details-icon {
    width: 15%;
    max-width: 7.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;    
}

.detailsborder{
    border-left: 3px solid #ffc107;   
}

.attributesheader {
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #ffc107;
}

.attributesdetails {
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 15px;    
}

.attributespadding {
    padding-bottom: 118px;
}

hr{ 
    border: none;
    border-left: 1px solid white;
    height: 10vh;
    width: 1px;
    margin: auto;     
}

.footerbg {
    background: url('https://static-mh.content.disney.io/starwars/assets/footer/vader_2-86e8fdb4e26d.jpg') center top no-repeat;    
    background-color: #040404;
    min-height: 272px;
}

.copyright {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}
@media (max-width: 576px) {  
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width:768px) {
} 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width:992px) {  
} 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1200px) {
} 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}